:root {
    --bg-color: #121212;
    --card-bg-color: #1e1e1e;
    --text-color: #ffffff;
    --accent-color: #ff3e00;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.header {
    padding: 20px;
}

.input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 300px;
    font-size: 16px;
}

.movieContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.movieCard {
    background-color: var(--card-bg-color);
    border-radius: 10px;
    overflow: hidden;
    width: 200px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
}

.movieCard img {
    width: 100%;
    height: auto;
    display: block;
}

.movieCard:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px var(--accent-color);
}

.movieCard:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.detailsButton {
    display: none;
    background-color: var(--accent-color);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.movieCard:hover .detailsButton {
    display: block;
    opacity: 1;
}

.movieInfo {
    display: none;
}

.modal {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modalContent {
    background-color: var(--card-bg-color);
    margin: auto;
    padding: 20px;
    border: 1px solid var(--accent-color);
    width: 80%;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modalContent img {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.modalDetails {
    text-align: left;
    flex: 1;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-left: -100%;
}

.close:hover,
.close:focus {
    color: var(--accent-color);
    text-decoration: none;
    cursor: pointer;
}

.recommendations {
    text-align: left;
}

.recommendations h3 {
    margin-top: 0;
}

.recommendations .movieCard {
    width: 150px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
}
