:root {
    /* Dark Mode */
    --primary-bg-color: #2c2f33;
    --secondary-bg-color: #23272a;
    --card-bg-color: #3a3f44;
    --hover-bg-color: #7ea182;
    --button-bg-color: #5c715e;
    --text-color: #ffffff;
    --secondary-text-color: #b0b0b0;
    --border-color: #4e535a;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --hover-shadow-color: rgba(0, 0, 0, 0.4);

    /* Light Mode */
    --light-primary-bg-color: #f9f9f9;
    --light-secondary-bg-color: #ffffff;
    --light-card-bg-color: #ffffff;
    --light-hover-bg-color: #e0e0e0;
    --light-button-bg-color: #4a90e2;
    --light-text-color: #333333;
    --light-secondary-text-color: #666666;
    --light-border-color: #dddddd;
    --light-shadow-color: rgba(0, 0, 0, 0.1);
    --light-hover-shadow-color: rgba(0, 0, 0, 0.2);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    background: linear-gradient(135deg, var(--primary-bg-color), var(--secondary-bg-color));
    min-height: 100vh;
    color: var(--text-color);
}

.title {
    font-size: 3rem;
    margin-bottom: 10px;
    text-align: center;
    animation: fadeIn 2s ease-in;
}

.cardContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.card {
    background-color: var(--card-bg-color);
    border-radius: 15px;
    overflow: hidden;
    width: 320px;
    text-decoration: none;
    color: var(--text-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 5px 15px var(--shadow-color);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 25px var(--hover-shadow-color);
}

.cardImage {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-bottom: 2px solid var(--border-color);
    margin-top: 15px;
}

.cardContent {
    padding: 20px;
    text-align: center;
}

.cardContent h2 {
    margin: 15px 0;
    font-size: 1.8rem;
}

.cardContent p {
    font-size: 1rem;
    color: var(--secondary-text-color);
}

.exploreButton {
    background-color: var(--button-bg-color);
    color: var(--text-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
}

.exploreButton:hover {
    background-color: var(--hover-bg-color);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
